@page "/blog"
@using MySite.Services
@using MySite.Shared.Dtos
@inject IBlogService blogService

@if (BlogPosts is null)
{
    <h1>Loading...</h1>
}
else
{
    <div class="container">
        @foreach (var post in BlogPosts)
        {
            <div class="blog-post">
                <h4>@post.Title</h4>
                <h5>@post.PostedDate.ToString("f")</h5>
                <p>@post.Content</p>
            </div>
        }
    </div>

}



@code {
    private List<BlogPostDto>? BlogPosts { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1);

        BlogPosts = await GetAllBlogPostsAsync();
    }

    private async Task<List<BlogPostDto>> GetAllBlogPostsAsync()
    {
        return await blogService.GetAllBlogPostsAsync();
    }
}
