@page "/blog"
@using Markdig
@using MySite.Services.Interfaces
@using MySite.Shared.Dtos
@using global::AutoMapper
@inject IBlogService blogService
@inject IMapper mapper

@if (BlogPostUrls is null)
{
    <h1>Loading...</h1>
}
else
{
    @foreach (var slug in BlogPostUrls)
    {
        <BlogPost Slug="@slug" />
        <hr />
    }
}

@code {
    private List<string>? BlogPostUrls { get; set; }

    private static int PageNumber { get; set; } = 1;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1);

        var blogPostUrls = await GetAllBlogPostUrlSlugsAsync();

        if (blogPostUrls is null) return;

        BlogPostUrls = blogPostUrls;
    }

    private async Task<List<string>?> GetAllBlogPostUrlSlugsAsync()
    {
        return await blogService.GetAllBlogPostUrlSlugsAsync(PageNumber);
    }
}