@page "/blog"
@page "/blog/page/{PageNumber}"
@using Markdig
@using MySite.Services.Interfaces
@using MySite.Shared.Dtos
@using global::AutoMapper
@inject IBlogService blogService
@inject IMapper mapper

@if (BlogPostUrls is null)
{
    <h1>Loading...</h1>
}
else
{
    @foreach (var slug in BlogPostUrls)
    {
        <BlogPost Slug="@slug" />
        <hr />
    }
}

@code {
    [Parameter]
    public int? PageNumber { get; set; } 

    private List<string>? BlogPostUrls { get; set; }

    private int BlogPostsCount { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (PageNumber == null) 
            PageNumber = 1;
        await Task.Delay(1);

        await LoadBlogPostsAsync();
    }

    private async Task LoadBlogPostsAsync()
    {
        var blogPostUrls = await GetAllBlogPostUrlSlugsAsync();

        if (blogPostUrls is null) return;

        BlogPostUrls = blogPostUrls;

        BlogPostsCount = await GetBlogPostsCountAsync();
    }

    private async Task<int> GetBlogPostsCountAsync()
    {
        return await blogService.GetBlogPostsCountAsync();
    }

    private async Task<List<string>?> GetAllBlogPostUrlSlugsAsync()
    {
        return await blogService.GetAllBlogPostUrlSlugsAsync(PageNumber.Value);
    }
}