@page "/blog"
@using Markdig
@using MySite.Services.Interfaces
@using MySite.Shared.Dtos
@using global::AutoMapper
@inject IBlogService blogService
@inject IMapper mapper

@if (BlogPosts is null)
{
    <h1>Loading...</h1>
}
else
{
    @foreach (var post in BlogPosts)
    {
        <BlogPost Slug="@post.UrlSlug" />
        <hr />
    }
    
}

@code {
    private List<Models.BlogPost>? BlogPosts { get; set; }

    private static int PageNumber { get; set; } = 1;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1);

        var dto = await GetAllBlogPostsAsync();

        if (dto is null) return;

        BlogPosts = mapper.Map<List<Models.BlogPost>>(dto);
    }

    private async Task<List<BlogPostDto>?> GetAllBlogPostsAsync()
    {
        return await blogService.GetAllBlogPostsAsync(PageNumber);
    }
}