@page "/blog/{slug}"
@using Markdig
@using MySite.Services.Interfaces
@using MySite.Shared.Dtos
@using global::AutoMapper
@inject IBlogService blogService
@inject IMapper mapper
@inject NavigationManager navigationManager

@if (Post is null)
{
    <h1>Loading...</h1>
}
else
{
    <div class="container">
    <div class="blog-post">
        <h4>@Post.Title</h4>
        <h5>@Post.PostedDate.ToString("f")</h5>
        @((MarkupString)Markdown.ToHtml(Post.Content))
    </div>
</div>
}

@code {
    [Parameter]
    public string? Slug { get; set; }

    private Models.BlogPost? Post { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Slug is null)
        {
            NavigateToBlogOverview();
            return;
        }

        var dto = await blogService.GetBlogPostAsync(Slug);

        if (dto is null) NavigateToBlogOverview();

        Post = mapper.Map<Models.BlogPost>(dto);
    }

    private void NavigateToBlogOverview()
    {
        navigationManager.NavigateTo("/blog");
    }
}
