@page "/"

<section class="container">
    <div class="row text-center aboutme">
        <img src="img/mugshot.jpg" alt="A selfie of me" height="300" width="300" class="mugshot mx-auto">
        <p class="lead description">
            Hi, my name is Sean and I'm a full-stack .NET developer that enjoys making programs that hopefully will make my life less annoying. 
            I'm currently doing a master's degree in Advanced Computer Science at Aberystwyth Uni. You can find my GitHub and various other social platforms above!
        </p>
    </div>
</section>
