@page "/"

<section class="container">
    <div class="row text-center aboutme">
        <img src="img/mugshot.jpg" alt="A selfie of me" height="300" width="300" class="mugshot mx-auto">
        <p class="lead description">
            Hi, my name is Sean and I'm a full-stack .NET developer and fond user of Python. I enjoy making programs that hopefully will make my life less annoying.
            I graduated with a bachelors degree in Computer Science in 2020 and am hoping to go off to do a master's degree in Advanced Computer Science later this year.
            You can find my GitHub and various other social platforms above!
        </p>
    </div>
</section>
