img {
    max-width: 750px;
    height: auto;
    width: 100%;
}

.tweet {
    overflow-wrap: anywhere;
    width: fit-content;
}

.date-navigator {
    margin-bottom: 2rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}