<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="MySite.styles.css" />
    <link rel="icon" type="image/png" href="img/favicon.png" />
    <link href="_content/BlazorPro.Spinkit/spinkit.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Sean Edwards;</title>
    <HeadOutlet />
</head>

<header class="container">
    <div class="row align-items-center">
        <div class="col">
            <a href="/">
                <h1 class="col-md-1">Sean Edwards;</h1>
            </a>
        </div>

        <div class="col-md">
            <nav>
                <ul class="list-inline text-uppercase nounderline">
                    <li class="list-inline-item"><a href="/blog">Blog</a></li>
                    <li class="list-inline-item"><a target="_blank"
                            href="https://github.com/bettercallsean">GitHub</a>
                    </li>
                    <li class="list-inline-item"><a target="_blank"
                            href="/">Socials</a>
                    </li>
                    <li class="list-inline-item"><a href="/likedtweets">Liked Tweets</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
