<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="MySite.styles.css" />
    <link rel="icon" type="image/png" href="img/favicon.png" />
    <link href="_content/BlazorPro.Spinkit/spinkit.min.css" rel="stylesheet" />
    <title>Sean Edwards;</title>
    <HeadOutlet />
</head>
<header class="container">
    <div class="row">
        <a href="/">
            <h1 class="col-sm-12 text-center text-uppercase">Sean Edwards;</h1>
        </a>

    </div>

    <div class="row text-center">
        <nav class="col-sm-12">
            <ul class="list-inline text-uppercase nounderline">
                <li class="list-inline-item"><a target="_blank"
                        href="https://github.com/bettercallsean">GitHub</a></li>
                <li class="list-inline-item"><a target="_blank" href="https://twitter.com/seanedwards_">Twitter</a></li>
                <li class="list-inline-item"><a target="_blank"
                        href="https://www.instagram.com/sean.edwards__">Instagram</a></li>
                <li class="list-inline-item"><a rel="me" target="_blank"
                        href="https://toot.wales/&#64;seanedwards">Mastodon</a></li>
                <li class="list-inline-item"><a target="_blank" href="mailto:hello@seanedwards.dev">Email</a></li>
                <li class="list-inline-item"><a href="/likedtweets/@DateTime.Today.ToString("dd-MM-yyyy")">Liked Tweets</a></li>
            </ul>
        </nav>
    </div>
</header>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
