@rendermode InteractiveServer

@if (IsLoading)
{
    if (LoadingTemplate != null)
    {
        @LoadingTemplate
    }
    else
    {
        <div class="container-fluid">
            <SpinKitThreeBounce />

            <h3 class="text-center">@LoadingText</h3>
        </div>
    }
}
else
{
    @ChildContent
}

@code {
    [Parameter]
    public bool IsLoading { get; set; }

    [Parameter]
    public string LoadingText { get; set; } = "Loading...";

    [Parameter]
    public RenderFragment? LoadingTemplate { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}